
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Lägg till ny kund", "Create", "Kunds", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Lägg till ny bokning", "Create", "Bokningars", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Lägg till ny bokning", "Create", "BokningsVy", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Ta bort bokning", "Delete", "BokningsVy", null, new { @class = "btn btn-primary" })



<h2>Index</h2>

